body{
        padding: 0px;
        margin: 0px;
        background: linear-gradient(135deg, #0f0f0f,rgba(26, 26, 26, 0.8));
        color: white;
    }

    .transaction-table{
       margin: 50px;
       border-collapse: collapse;
       width: 80%;
       background: linear-gradient(135deg, #0f0f0f,rgba(26, 26, 26, 0.8));
        
    }
    
    .transaction-table th, .transaction-table td{
    border: 1px solid #888;       /* Table border */
    padding: 12px 18px;           /* Space inside cells */
    text-align: left;             /* Align text left */
    font-size: 18px;
    }
    .transaction-table th{
    background: indigo;          /* Header background color */
    color: #fff;                  /* Header text color */
    font-weight: bold;
    letter-spacing: 1px;              /* Table header text color */
    }
  .ViewCourses{
    background: linear-gradient(90deg, #8f2fff 0%, #5323b2 100%);
    color: #fff;
    padding: 18px 50px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 18px;
    box-shadow: 0 6px 32px 0 rgba(146, 91, 255, 0.30), 0 2px 8px rgba(0,0,0,0.15);
    text-shadow: 0 2px 8px rgba(138,43,226,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.35s cubic-bezier(.25,.8,.25,1);
    letter-spacing: 0.03em;
    
}
.ViewCourses:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 10px rgba(176, 91, 255, 0.7), 0 6px 30px rgba(255, 255, 255, 0.1);

}
.button-container{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
}
.Logout-button{
       background: linear-gradient(90deg, #8f2fff 0%, #5323b2 100%);
        color: #fff;
        padding: 18px 50px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        border-radius: 18px;
        box-shadow: 0 6px 32px 0 rgba(146, 91, 255, 0.30), 0 2px 8px rgba(0,0,0,0.15);
        text-shadow: 0 2px 8px rgba(138,43,226,0.2);
        cursor: pointer;
        outline: none;
        transition: all 0.35s cubic-bezier(.25,.8,.25,1);
        letter-spacing: 0.03em;
       
   }
   .Logout-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 10px rgba(176, 91, 255, 0.7), 0 6px 30px rgba(255, 255, 255, 0.1);

   }
   
.msg-container{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
.h1-center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.banner-success{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color:lime;
}

.banner-error{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: red;
}
.banner-bending{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: yellow;
}


    .RegisterCourses{
        background: linear-gradient(90deg, #8f2fff 0%, #5323b2 100%);
        color: #fff;
        padding: 18px 50px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        border-radius: 18px;
        box-shadow: 0 6px 32px 0 rgba(146, 91, 255, 0.30), 0 2px 8px rgba(0,0,0,0.15);
        text-shadow: 0 2px 8px rgba(138,43,226,0.2);
        cursor: pointer;
        outline: none;
        transition: all 0.35s cubic-bezier(.25,.8,.25,1);
        letter-spacing: 0.03em;
         
        /* Center horizontally */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .RegisterCourses:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 10px rgba(176, 91, 255, 0.7), 0 6px 30px rgba(255, 255, 255, 0.1);

    }
    